@import "./base.css";

#app {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 2rem;
	padding-bottom: 20rem;
	font-weight: normal;
	overflow: hidden; /* Prevent scrolling for the whole app */
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("./wallpaperflare.com_wallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed; /* Keeps the background fixed while scrolling */
	z-index: -1; /* Send it behind the content */
	transform: rotate(180deg); /* Rotate the background image */
	transform-origin: center; /* Rotate from the center */
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;

	/* Background Image Properties */
	background-image: url("./wallpaperflare.com_wallpaper.jpg"); /* Replace with your image path */
	background-size: cover; /* Ensures the image covers the entire screen */
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-attachment: fixed; /* Keeps the background fixed while scrolling */
	background-position: center; /* Centers the background image */
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: auto) {
	body {
		display: flex;
		place-items: center;
	}

	#app {
		display: block;
		grid-template-columns: 1fr 1fr;
		padding: 0 2rem;
	}
}
